name: .NET Core

on:
  push:
    branches: master
    tags: '**'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100

    - name: Build
      run: dotnet build Reactive.Testing.Marbles.sln --configuration Release

    - name: Run unit tests
      run: dotnet test Reactive.Testing.Marbles.sln --configuration Release --no-build

    - name: Generate nuget package
      run: dotnet pack Reactive.Testing.Marbles.sln --configuration Release -o nupkg

  pack:
    runs-on: ubuntu-latest
    
    needs: build
    
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
          
      - name: Determine version
        run: echo "::set-env name=VERSION::$(git describe --tags --dirty)"
        
      - name: Pack
        run: dotnet pack --output ./artifacts --configuration Release -p:Version=$VERSION
          
      - name: Publish packages
        run: dotnet nuget push ./artifacts/**.nupkg --source nuget.org --api-key ${{secrets.NUGET_API_KEY}}